#!/usr/bin/make -f

ifeq (ia64, $(shell dpkg-architecture -qDEB_BUILD_ARCH))
	export DH_RUBY_IGNORE_TESTS=all
endif

export GEM2DEB_TEST_RUNNER = --check-dependencies
export DH_RUBY = --gem-install

%:
	dh $@ --buildsystem=ruby --with ruby

execute_after_dh_auto_clean:
	rm -rf build/
	find spec/ffi/fixtures/ \( -name *.so -o -name *.o \) -delete
	find spec/ffi/embed-test/ \( -name *.so -o -name *.o -o -name Makefile -o -name *.log \) -delete

gen_arch_config:
	(cd ext/ffi_c && ruby extconf.rb && make && cp ffi_c.so ../../lib)
	(cd gen && rake)
